body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: auto;
    background-color: #f1dbdb;
}
h1{
    color: #000000;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #333;
  }
  
  .tagline {
    text-align: center;
    font-size: 1rem;
    color: #777;
    margin-bottom: 2rem;
  }

  .task-count {
    text-align: center;
    font-size: 1rem;
    color: #444;
    margin-top: 1rem;
  }

input[type="text"]{
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: #45a049;;
}

ul{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

li{
    background: white;
    padding: 10px;
    margin: 8px auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

ul#taskList {
    list-style-type: none;
    padding: 0;
    /* max-width: 400px; */
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .task-item button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .task-item button:hover {
    background-color: #e60000;
  }
  
